<form class="invoice-form col-xs-12">
  <div class="row">
    <div class="col-xs-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-gears"></i> Invoice Settings</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="status">Status</label>
            {{#power-select
              options=statusList
              searchEnabled=false
              selected=changeset.status
              onchange=(action (mut changeset.status))
              as |status|
            }}
              {{titleize status}}
            {{/power-select}}
          </div>
          <div class="form-group">
            <label for="invoiceNumber">Invoice Number</label>
            {{input type="text" name="invoiceNumber" value=changeset.invoiceNumber size="100" class="form-control"}}
          </div>
          <div class="form-group">
            <label for="senderAddress">Sender Address</label>
            {{textarea name="senderAddress" value=changeset.senderAddress cols="80" rows="3" class="form-control"}}
          </div>
          <div class="form-group">
            <label for="recipientAddress">Recipient Address</label>
            {{textarea name="recipientAddress" value=changeset.recipientAddress cols="80" rows="3" class="form-control"}}
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="issuedDate">Invoice Date</label>
                {{bootstrap-datepicker value=changeset.issuedDate autoclose=true name="issuedDate" class="form-control" format="dd-mm-yyyy"}}
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="paymentDueDate">Due Date</label>
                {{bootstrap-datepicker value=changeset.paymentDueDate autoclose=true name="paymentDueDate" class="form-control" format="dd-mm-yyyy"}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="serviceFromDate">Service From</label>
                {{bootstrap-datepicker value=changeset.serviceFromDate autoclose=true name="serviceFromDate" class="form-control" format="dd-mm-yyyy"}}
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="serviceToDate">Service To</label>
                {{bootstrap-datepicker value=changeset.serviceToDate autoclose=true name="serviceToDate" class="form-control" format="dd-mm-yyyy"}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="invoiceTerms">Invoice Terms</label>
            {{textarea name="invoiceTerms" value=changeset.invoiceTerms cols="80" rows="3" class="form-control"}}
          </div>
          <div class="form-group">
            <label for="personalData">Personal Data</label>
            {{textarea name="personalData" value=changeset.personalData cols="80" rows="3" class="form-control"}}
          </div>
        </div>
        <div class="panel-footer">            
          <button class="btn btn-primary" {{action (route-action "save" changeset)}}><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
          <button class="btn btn-default" {{action (route-action "rollback" changeset)}}><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
          {{#if isEditRoute}}
            <button class="btn btn-danger pull-right" {{action (route-action "delete" model)}}><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
          {{/if}}
        </div>
      </div>
      <div class="col-xs-6"></div>
    </div>
  </div>
</form>