{{header-navigation pageTitle="Settings"}}
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <form class="invoice-settings col-sm-12 col-md-6">
        <div class="panel panel-default invoice-settings">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-gears"></i> Default Invoice Settings</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <p><i>In this panel you can set the default values for new invoices.</i></p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="">Logo</label>
                  {{#file-dropzone class="image-dropzone" name="logo" as |dropzone queue|}}
                    <span class="image-dropzone-description">
                      {{#if model.logo}}
                        <div class="invoice-logo">
                          <img src={{model.logo}} alt="Invoice Logo">
                          <button type="button" class="btn btn-danger" {{action "deleteLogo"}}><i class="fa fa-trash-o fa-lg"></i></button>
                        </div>
                      {{else}}
                        {{#if dropzone.supported}}
                          <p>
                            Drop a logo into this area or
                          </p>
                        {{/if}}
                        {{#file-upload name="logo"
                                      accept="image/*"
                                      multiple=false
                                      onfileadd=(action "uploadLogo")}}
                          <a id="upload-image" tabindex=0 class="btn btn-primary">Add an Image</a>
                        {{/file-upload}}
                      {{/if}}
                    </span>
                  {{/file-dropzone}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="senderAddress">Sender Address</label>
                  {{textarea name="senderAddress" value=model.senderAddress cols="80" rows="3" class="form-control"}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="invoiceNumber">Invoice Number</label>
                  {{input type="text" name="invoiceNumber" value=model.invoiceNumber size="100" class="form-control"}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="currency">Invoice Currency</label>
                  {{input type="text" name="currency" value=model.currency size="20" class="form-control"}}
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="taxRate">Tax Rate</label>
                  {{input type="number" name="taxRate" value=model.taxRate size="20" class="form-control"}}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="invoiceTerms">Invoice Terms</label>
              {{textarea name="invoiceTerms" value=model.invoiceTerms cols="80" rows="3" class="form-control"}}
            </div>
            <div class="form-group">
              <label for="personalData">Personal Data</label>
              {{textarea name="personalData" value=model.personalData cols="80" rows="3" class="form-control"}}
            </div>
          </div>
          <div class="panel-footer">
            {{#if isProcessing}}      
              <button type="button" class="btn btn-success"><i class="fa fa-cog fa-spin fa-fw"></i> Saving...</button>
            {{else}}
              <button type="button" class="btn btn-success save-button" {{action (route-action "saveUser" model)}}><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            {{/if}}
            <button type="button" class="btn btn-default reset-button" {{action (route-action "rollbackUser" model)}}><i class="fa fa-ban" aria-hidden="true"></i> Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>